{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}


{% block body %}
    Une erreur s'est produite lors de la connexion
    <br />
    <a href="{{ path('app_login') }}">Se connecter</a>
{% endblock %}
